@charset "UTF-8";

@font-face{font-family:'xxx';src:url(fonts/xxx-Regular.otf);font-weight:400}
@font-face{font-family:'xxx';src:url(fonts/xxx-Bold.otf);font-weight:700}

*{box-sizing:border-box;}
html,body{margin:0;padding:0}

html{font-size:10px;}
body{
	font-family:'xxx',sans-serif;
	font-weight:400;
	overflow-y:scroll;
	font-size: 1.6rem;
}
h1,h2,h3,h4{margin:initial;font-size:initial;font-weight:initial}
/*------------------------------------*\
	blue: hsl(227, 76%, 31%)
	blue: #11a
\*------------------------------------*/

.cwidth{
	width: 100%;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
a{text-decoration:none;color:#11a}
a:hover{text-decoration:underline}

@keyframes rotate360 { 100% { transform:rotate(360deg); } }
@keyframes mymove {
    0%{background-position:10% 0%}
    50%{background-position:70% 0%}
    100%{background-position:10% 0%}
}

.aa1{}
.aa2{}
.aa3{}
.aa4{}
.aa5{}
.aa6{}
.aa7{}
.aa8{}
.aa9{}
.aa10{}
.aa11{}
.aa12{}
.aa13{}
.aa14{}
.aa15{}
.aa16{}
.aa17{}
.aa18{}
.aa19{}

.aa20{}
.aa21{}
.aa22{}
.aa23{}
.aa24{}
.aa25{}
.aa26{}
.aa27{}
.aa28{}
.aa29{}

.aa30{}
.aa31{}
.aa32{}
.aa33{}
.aa34{}
.aa35{}
.aa36{}
.aa37{}
.aa38{}
.aa39{}

.aa40{}
.aa41{}
.aa42{}
.aa43{}
.aa44{}
.aa45{}
.aa46{}
.aa47{}
.aa48{}
.aa49{}
.aa50{}
.aa51{}
.aa52{}
.aa53{}
.aa54{}
.aa55{}
.aa56{}
.aa57{}
.aa58{}
.aa59{}
.aa60{}
.aa61{}
.aa62{}
.aa63{}
.aa64{}
.aa65{}
.aa66{}
.aa67{}
.aa68{}
.aa69{}
.aa70{}
.aa71{}
.aa72{}
.aa73{}
.aa74{}
.aa75{}
.aa76{}
.aa77{}
.aa78{}
.aa79{}
.aa80{}

/*------------------------------------*\
	axd 
\*------------------------------------*/
@media (max-width: 1000px) {
	html{font-size:8px}
	.cw{width:100%;padding-left:15px;padding-right:15px;}


.aa1{}
.aa2{}
.aa3{}
.aa4{}
.aa5{}
.aa6{}
.aa7{}
.aa8{}
.aa9{}
.aa10{}
.aa11{}
.aa12{}
.aa13{}
.aa14{}
.aa15{}
.aa16{}
.aa17{}
.aa18{}
.aa19{}
.aa20{}
.aa21{}
.aa22{}
.aa23{}
.aa24{}
.aa25{}
.aa26{}
.aa27{}
.aa28{}
.aa29{}

.aa30{}
.aa31{}
.aa32{}
.aa33{}
.aa34{}
.aa35{}
.aa36{}
.aa37{}
.aa38{}
.aa39{}

.aa40{}
.aa41{}
.aa42{}
.aa43{}
.aa44{}
.aa45{}
.aa46{}
.aa47{}
.aa48{}
.aa49{}
.aa50{}
.aa51{}
.aa52{}
.aa53{}
.aa54{}
.aa55{}
.aa56{}
.aa57{}
.aa58{}
.aa59{}
.aa60{}
.aa61{}
.aa62{}
.aa63{}
.aa64{}
.aa65{}
.aa66{}
.aa67{}
.aa68{}
.aa69{}
.aa70{}
.aa71{}
.aa72{}
.aa73{}
.aa74{}
.aa75{}
.aa76{}
.aa77{}
.aa78{}
.aa79{}
.aa80{}
}


@media (max-width: 600px) {


.aa1{}
.aa2{}
.aa3{}
.aa4{}
.aa5{}
.aa6{}
.aa7{}
.aa8{}
.aa9{}
.aa10{}
.aa11{}
.aa12{}
.aa13{}
.aa14{}
.aa15{}
.aa16{}
.aa17{}
.aa18{}
.aa19{}
.aa20{}
.aa21{}
.aa22{}
.aa23{}
.aa24{}
.aa25{}
.aa26{}
.aa27{}
.aa28{}
.aa29{}

.aa30{}
.aa31{}
.aa32{}
.aa33{}
.aa34{}
.aa35{}
.aa36{}
.aa37{}
.aa38{}
.aa39{}

.aa40{}
.aa41{}
.aa42{}
.aa43{}
.aa44{}
.aa45{}
.aa46{}
.aa47{}
.aa48{}
.aa49{}
.aa50{}
.aa51{}
.aa52{}
.aa53{}
.aa54{}
.aa55{}
.aa56{}
.aa57{}
.aa58{}
.aa59{}
.aa60{}
.aa61{}
.aa62{}
.aa63{}
.aa64{}
.aa65{}
.aa66{}
.aa67{}
.aa68{}
.aa69{}
.aa70{}
.aa71{}
.aa72{}
.aa73{}
.aa74{}
.aa75{}
.aa76{}
.aa77{}
.aa78{}
.aa79{}
.aa80{}

}






