@charset "UTF-8";

@font-face{font-family:'xxx';src:url(fonts/xxx-Regular.otf);font-weight:400}
@font-face{font-family:'xxx';src:url(fonts/xxx-Bold.otf);font-weight:700}

*{box-sizing:border-box;}
html,body{margin:0;padding:0}

html{font-size:10px;}
body{
	font-family:'xxx',sans-serif;
	font-weight:400;
	overflow-y:scroll;
}
h1,h2,h3,h4{margin:initial;font-size:initial;font-weight:initial}
/*------------------------------------*\
	blue: hsl(227, 76%, 31%)
	blue: #11a
\*------------------------------------*/

.cwidth{
	width:100%;
	max-width:972px;
	padding-left:15px;
	padding-right:15px;
	margin-left:auto;
	margin-right:auto;
}
a{text-decoration:none;color:#11a}
a:hover{text-decoration:underline}




.hp1{}
.hp2{}
.hp3{}
.hp4{}
.hp5{}
.hp6{}
.hp7{}
.hp8{}
.hp9{}
.hp10{}
.hp11{}
.hp12{}
.hp13{}
.hp14{}
.hp15{}
.hp16{}
.hp17{}
.hp18{}
.hp19{}

.hp20{}
.hp21{}
.hp22{}
.hp23{}
.hp24{}
.hp25{}
.hp26{}
.hp27{}
.hp28{}
.hp29{}

.hp30{}
.hp31{}
.hp32{}
.hp33{}
.hp34{}
.hp35{}
.hp36{}
.hp37{}
.hp38{}
.hp39{}

.hp40{}
.hp41{}
.hp42{}
.hp43{}
.hp44{}
.hp45{}
.hp46{}
.hp47{}
.hp48{}
.hp49{}
.hp50{}
.hp51{}
.hp52{}
.hp53{}
.hp54{}
.hp55{}
.hp56{}
.hp57{}
.hp58{}
.hp59{}
.hp60{}
.hp61{}
.hp62{}
.hp63{}
.hp64{}
.hp65{}
.hp66{}
.hp67{}
.hp68{}
.hp69{}
.hp70{}
.hp71{}
.hp72{}
.hp73{}
.hp74{}
.hp75{}
.hp76{}
.hp77{}
.hp78{}
.hp79{}
.hp80{}

.pa1{}
.pa2{}
.pa3{}
.pa4{}
.pa5{}
.pa6{}
.pa7{}
.pa8{}
.pa9{}
.pa10{}
.pa11{}
.pa12{}
.pa13{}
.pa14{}
.pa15{}
.pa16{}
.pa17{}
.pa18{}
.pa19{}
.pa20{}
.pa21{}
.pa22{}
.pa23{}
.pa24{}
.pa25{}
.pa26{}
.pa27{}
.pa28{}
.pa29{}
.pa30{}
/*------------------------------------*\
	axd 
\*------------------------------------*/
@media (max-width: 1000px) {
	html{font-size:6px}
	.cw{width:100%;padding-left:15px;padding-right:15px;}


.hp1{}
.hp2{}
.hp3{}
.hp4{}
.hp5{}
.hp6{}
.hp7{}
.hp8{}
.hp9{}
.hp10{}
.hp11{}
.hp12{}
.hp13{}
.hp14{}
.hp15{}
.hp16{}
.hp17{}
.hp18{}
.hp19{}
.hp20{}
.hp21{}
.hp22{}
.hp23{}
.hp24{}
.hp25{}
.hp26{}
.hp27{}
.hp28{}
.hp29{}

.hp30{}
.hp31{}
.hp32{}
.hp33{}
.hp34{}
.hp35{}
.hp36{}
.hp37{}
.hp38{}
.hp39{}

.hp40{}
.hp41{}
.hp42{}
.hp43{}
.hp44{}
.hp45{}
.hp46{}
.hp47{}
.hp48{}
.hp49{}
.hp50{}
.hp51{}
.hp52{}
.hp53{}
.hp54{}
.hp55{}
.hp56{}
.hp57{}
.hp58{}
.hp59{}
.hp60{}
.hp61{}
.hp62{}
.hp63{}
.hp64{}
.hp65{}
.hp66{}
.hp67{}
.hp68{}
.hp69{}
.hp70{}
.hp71{}
.hp72{}
.hp73{}
.hp74{}
.hp75{}
.hp76{}
.hp77{}
.hp78{}
.hp79{}
.hp80{}

.pa1{}
.pa2{}
.pa3{}
.pa4{}
.pa5{}
.pa6{}
.pa7{}
.pa8{}
.pa9{}
.pa10{}
.pa11{}
.pa12{}
.pa13{}
.pa14{}
.pa15{}
.pa16{}
.pa17{}
.pa18{}
.pa19{}
.pa20{}
}


@media (max-width: 600px) {


.hp1{}
.hp2{}
.hp3{}
.hp4{}
.hp5{}
.hp6{}
.hp7{}
.hp8{}
.hp9{}
.hp10{}
.hp11{}
.hp12{}
.hp13{}
.hp14{}
.hp15{}
.hp16{}
.hp17{}
.hp18{}
.hp19{}
.hp20{}
.hp21{}
.hp22{}
.hp23{}
.hp24{}
.hp25{}
.hp26{}
.hp27{}
.hp28{}
.hp29{}

.hp30{}
.hp31{}
.hp32{}
.hp33{}
.hp34{}
.hp35{}
.hp36{}
.hp37{}
.hp38{}
.hp39{}

.hp40{}
.hp41{}
.hp42{}
.hp43{}
.hp44{}
.hp45{}
.hp46{}
.hp47{}
.hp48{}
.hp49{}
.hp50{}
.hp51{}
.hp52{}
.hp53{}
.hp54{}
.hp55{}
.hp56{}
.hp57{}
.hp58{}
.hp59{}
.hp60{}
.hp61{}
.hp62{}
.hp63{}
.hp64{}
.hp65{}
.hp66{}
.hp67{}
.hp68{}
.hp69{}
.hp70{}
.hp71{}
.hp72{}
.hp73{}
.hp74{}
.hp75{}
.hp76{}
.hp77{}
.hp78{}
.hp79{}
.hp80{}

.pa1{}
.pa2{}
.pa3{}
.pa4{}
.pa5{}
.pa6{}
.pa7{}
.pa8{}
.pa9{}
.pa10{}
.pa11{}
.pa12{}
.pa13{}
.pa14{}
.pa15{}
.pa16{}
.pa17{}
.pa18{}
.pa19{}
.pa20{}
}






