@charset "UTF-8";
/*
https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping
100	Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light
400	Normal (Regular)
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)
*/

@font-face{font-family:'xxx';src:url(fonts/xxx-Thin.otf);font-weight:100}
@font-face{font-family:'xxx';src:url(fonts/xxx-ExtraLight.otf);font-weight:200}
@font-face{font-family:'xxx';src:url(fonts/xxx-Light.otf);font-weight:300}
@font-face{font-family:'xxx';src:url(fonts/xxx-Regular.otf);font-weight:400}
@font-face{font-family:'xxx';src:url(fonts/xxx-Medium.otf);font-weight:500}
@font-face{font-family:'xxx';src:url(fonts/xxx-SemiBold.otf);font-weight:600}
@font-face{font-family:'xxx';src:url(fonts/xxx-Bold.otf);font-weight:700}
@font-face{font-family:'xxx';src:url(fonts/xxx-ExtraBold.otf);font-weight:800}
@font-face{font-family:'xxx';src:url(fonts/xxx-Heavy.otf);font-weight:900}

*{box-sizing:border-box;}
html,body{margin:0;padding:0}

html{font-size:10px;}
body{
	font-family:'xxx',sans-serif;
	font-weight:400;
	overflow-y:scroll;
	font-size: 1.6rem;
}
h1,h2,h3{
    margin: initial;
    font-size: initial;
    font-weight: initial
}
button{all:unset;cursor:pointer}
/*------------------------------------*\
	red:   #a11
	green: #1a1
	blue:  #11a
\*------------------------------------*/

.cwidth{
	width: 100%;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}
a{text-decoration:none;color:inherit}
a:hover{text-decoration:underline}

@keyframes rotate360 { 100% { transform:rotate(360deg); } }
@keyframes mymove {
    0%{background-position:10% 0%}
    50%{background-position:70% 0%}
    100%{background-position:10% 0%}
}

.aa1{}
.aa2{}
.aa3{}
.aa4{}
.aa5{}
.aa6{}
.aa7{}
.aa8{}
.aa9{}
.aa10{}
.aa11{}
.aa12{}
.aa13{}
.aa14{}
.aa15{}
.aa16{}
.aa17{}
.aa18{}
.aa19{}
.aa20{}
.aa21{}
.aa22{}
.aa23{}
.aa24{}
.aa25{}
.aa26{}
.aa27{}
.aa28{}
.aa29{}
.aa30{}
.aa31{}
.aa32{}
.aa33{}
.aa34{}
.aa35{}
.aa36{}
.aa37{}
.aa38{}
.aa39{}
.aa40{}
.aa41{}
.aa42{}
.aa43{}
.aa44{}
.aa45{}
.aa46{}
.aa47{}
.aa48{}
.aa49{}
.aa50{}
.aa51{}
.aa52{}
.aa53{}
.aa54{}
.aa55{}
.aa56{}
.aa57{}
.aa58{}
.aa59{}
.aa60{}
.aa61{}
.aa62{}
.aa63{}
.aa64{}
.aa65{}
.aa66{}
.aa67{}
.aa68{}
.aa69{}
.aa70{}
.aa71{}
.aa72{}
.aa73{}
.aa74{}
.aa75{}
.aa76{}
.aa77{}
.aa78{}
.aa79{}
.aa80{}
.aa81{}
.aa82{}
.aa83{}
.aa84{}
.aa85{}
.aa86{}
.aa87{}
.aa88{}
.aa89{}
.aa90{}
.aa91{}
.aa92{}
.aa93{}
.aa94{}
.aa95{}
.aa96{}
.aa97{}
.aa98{}
.aa99{}
.aa100{}
.aa101{}
.aa102{}
.aa103{}
.aa104{}
.aa105{}
.aa106{}
.aa107{}
.aa108{}
.aa109{}
.aa110{}
.aa111{}
.aa112{}
.aa113{}
.aa114{}
.aa115{}
.aa116{}
.aa117{}
.aa118{}
.aa119{}
.aa120{}

/*------------------------------------*\
	axd 
\*------------------------------------*/
@media (max-width: 1280px) {
	html{font-size:9px}
}
@media (max-width: 1120px) {
	html{font-size:8px}
}

/*------------------------------------*\
@font-face{
	font-family:'xxx';
	src:url(fonts/xxx-Regular.otf);
	font-weight:400;
	ascent-override: 92%;
	descent-override: 10%;
}
\*------------------------------------*/
@media (max-width: 900px) {
html{font-size:8px}
.cwidth{padding-left: 15px;padding-right: 15px;}
.aa1{}
.aa2{}
.aa3{}
.aa4{}
.aa5{}
.aa6{}
.aa7{}
.aa8{}
.aa9{}
.aa10{}
.aa11{}
.aa12{}
.aa13{}
.aa14{}
.aa15{}
.aa16{}
.aa17{}
.aa18{}
.aa19{}
.aa20{}
.aa21{}
.aa22{}
.aa23{}
.aa24{}
.aa25{}
.aa26{}
.aa27{}
.aa28{}
.aa29{}
.aa30{}
.aa31{}
.aa32{}
.aa33{}
.aa34{}
.aa35{}
.aa36{}
.aa37{}
.aa38{}
.aa39{}
.aa40{}
.aa41{}
.aa42{}
.aa43{}
.aa44{}
.aa45{}
.aa46{}
.aa47{}
.aa48{}
.aa49{}
.aa50{}
.aa51{}
.aa52{}
.aa53{}
.aa54{}
.aa55{}
.aa56{}
.aa57{}
.aa58{}
.aa59{}
.aa60{}
.aa61{}
.aa62{}
.aa63{}
.aa64{}
.aa65{}
.aa66{}
.aa67{}
.aa68{}
.aa69{}
.aa70{}
.aa71{}
.aa72{}
.aa73{}
.aa74{}
.aa75{}
.aa76{}
.aa77{}
.aa78{}
.aa79{}
.aa80{}
.aa81{}
.aa82{}
.aa83{}
.aa84{}
.aa85{}
.aa86{}
.aa87{}
.aa88{}
.aa89{}
.aa90{}
.aa91{}
.aa92{}
.aa93{}
.aa94{}
.aa95{}
.aa96{}
.aa97{}
.aa98{}
.aa99{}
.aa100{}
.aa101{}
.aa102{}
.aa103{}
.aa104{}
.aa105{}
.aa106{}
.aa107{}
.aa108{}
.aa109{}
.aa110{}
.aa111{}
.aa112{}
.aa113{}
.aa114{}
.aa115{}
.aa116{}
.aa117{}
.aa118{}
.aa119{}
.aa120{}

}






